<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>vertex_start</key>
		<string>0</string>
		<key>vertex_end</key>
		<string>2</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>4240.000000</string>
				<key>y</key>
				<string>-2801.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4218.000000</string>
				<key>y</key>
				<string>-2552.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4116.000000</string>
				<key>y</key>
				<string>-2408.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3894.000000</string>
				<key>y</key>
				<string>-2286.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3616.000000</string>
				<key>y</key>
				<string>-2286.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>2</string>
		<key>vertex_end</key>
		<string>0</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>3705.000000</string>
				<key>y</key>
				<string>-2295.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3967.000000</string>
				<key>y</key>
				<string>-2318.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4173.000000</string>
				<key>y</key>
				<string>-2481.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4239.000000</string>
				<key>y</key>
				<string>-2689.00000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4243.000000</string>
				<key>y</key>
				<string>-2912.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>0</string>
		<key>vertex_end</key>
		<string>1</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>3851.000000</string>
				<key>y</key>
				<string>-3176.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3706.000000</string>
				<key>y</key>
				<string>-3179.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3488.000000</string>
				<key>y</key>
				<string>-3171.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>1</string>
		<key>vertex_end</key>
		<string>0</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>3646.000000</string>
				<key>y</key>
				<string>-3178.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3929.000000</string>
				<key>y</key>
				<string>-3174.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4073.000000</string>
				<key>y</key>
				<string>-3180.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>2</string>
		<key>vertex_end</key>
		<string>1</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>3334.000000</string>
				<key>y</key>
				<string>-2622.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3329.000000</string>
				<key>y</key>
				<string>-2807.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3331.000000</string>
				<key>y</key>
				<string>-2951.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>1</string>
		<key>vertex_end</key>
		<string>2</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>3349.000000</string>
				<key>y</key>
				<string>-2887.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3346.000000</string>
				<key>y</key>
				<string>-2647.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3346.000000</string>
				<key>y</key>
				<string>-2431.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>1</string>
		<key>vertex_end</key>
		<string>3</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>3145.000000</string>
				<key>y</key>
				<string>-3173.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3042.000000</string>
				<key>y</key>
				<string>-3148.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2919.000000</string>
				<key>y</key>
				<string>-3080.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2851.000000</string>
				<key>y</key>
				<string>-2997.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2802.000000</string>
				<key>y</key>
				<string>-2911.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2778.000000</string>
				<key>y</key>
				<string>-2807.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2774.000000</string>
				<key>y</key>
				<string>-2673.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2771.000000</string>
				<key>y</key>
				<string>-2518.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2773.000000</string>
				<key>y</key>
				<string>-2397.00000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2778.000000</string>
				<key>y</key>
				<string>-2259.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2775.000000</string>
				<key>y</key>
				<string>-2154.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2786.000000</string>
				<key>y</key>
				<string>-2041.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2819.000000</string>
				<key>y</key>
				<string>-1972.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2887.000000</string>
				<key>y</key>
				<string>-1869.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2989.000000</string>
				<key>y</key>
				<string>-1792.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3070.000000</string>
				<key>y</key>
				<string>-1768.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3189.000000</string>
				<key>y</key>
				<string>-1749.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3254.000000</string>
				<key>y</key>
				<string>-1752.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>3</string>
		<key>vertex_end</key>
		<string>1</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>3084.000000</string>
				<key>y</key>
				<string>-1759.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2936.000000</string>
				<key>y</key>
				<string>-1831.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2820.000000</string>
				<key>y</key>
				<string>-1944.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2772.000000</string>
				<key>y</key>
				<string>-2154.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2781.000000</string>
				<key>y</key>
				<string>-2598.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2781.000000</string>
				<key>y</key>
				<string>-2814.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2848.000000</string>
				<key>y</key>
				<string>-3007.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3008.000000</string>
				<key>y</key>
				<string>-3132.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3167.000000</string>
				<key>y</key>
				<string>-3175.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>2</string>
		<key>vertex_end</key>
		<string>3</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>3330.000000</string>
				<key>y</key>
				<string>-2015.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>3</string>
		<key>vertex_end</key>
		<string>2</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>3330.000000</string>
				<key>y</key>
				<string>-2015.000000</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
