<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>vertex_start</key>
		<string>0</string>
		<key>vertex_end</key>
		<string>1</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>3251.623291</string>
				<key>y</key>
				<string>-1360.561768</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3459.518066</string>
				<key>y</key>
				<string>-1200.035522</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3820.044189</string>
				<key>y</key>
				<string>-1184.245972</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4170.044434</string>
				<key>y</key>
				<string>-1194.772339</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4517.412598</string>
				<key>y</key>
				<string>-1186.877563</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4864.781250</string>
				<key>y</key>
				<string>-1184.245972</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5147.307129</string>
				<key>y</key>
				<string>-1184.245850</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5356.887695</string>
				<key>y</key>
				<string>-1236.877808</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>0</string>
		<key>vertex_end</key>
		<string>8</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>2970.043945</string>
				<key>y</key>
				<string>-1931.457153</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3198.992432</string>
				<key>y</key>
				<string>-2102.509766</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>0</string>
		<key>vertex_end</key>
		<string>10</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>x</key>
				<string>2970.043945</string>
				<key>y</key>
				<string>-1755.297607</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2825.307129</string>
				<key>y</key>
				<string>-1810.560791</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2712.149414</string>
				<key>y</key>
				<string>-1915.823975</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2638.465088</string>
				<key>y</key>
				<string>-2071.087158</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2635.833496</string>
				<key>y</key>
				<string>-2218.455566</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2635.833496</string>
				<key>y</key>
				<string>-2368.455566</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2638.465088</string>
				<key>y</key>
				<string>-2555.297852</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2625.307129</string>
				<key>y</key>
				<string>-2744.771484</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2654.254395</string>
				<key>y</key>
				<string>-2939.508301</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2741.096680</string>
				<key>y</key>
				<string>-3060.561035</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2867.412354</string>
				<key>y</key>
				<string>-3142.139893</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3017.412354</string>
				<key>y</key>
				<string>-3176.350342</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>1</string>
		<key>vertex_end</key>
		<string>0</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>5356.887695</string>
				<key>y</key>
				<string>-1236.877808</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5147.307129</string>
				<key>y</key>
				<string>-1184.245850</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4864.781250</string>
				<key>y</key>
				<string>-1184.245972</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4517.412598</string>
				<key>y</key>
				<string>-1186.877563</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4170.044434</string>
				<key>y</key>
				<string>-1194.772339</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3820.044189</string>
				<key>y</key>
				<string>-1184.245972</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3459.518066</string>
				<key>y</key>
				<string>-1200.035522</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3251.623291</string>
				<key>y</key>
				<string>-1360.561768</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>1</string>
		<key>vertex_end</key>
		<string>2</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>5687.657715</string>
				<key>y</key>
				<string>-1239.509033</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5808.710449</string>
				<key>y</key>
				<string>-1134.245850</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6008.710449</string>
				<key>y</key>
				<string>-1042.140625</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6235.026367</string>
				<key>y</key>
				<string>-1042.140625</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6556.078613</string>
				<key>y</key>
				<string>-1042.140625</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6811.341797</string>
				<key>y</key>
				<string>-1047.403687</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7050.815430</string>
				<key>y</key>
				<string>-1042.140625</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>1</string>
		<key>vertex_end</key>
		<string>5</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>5312.833008</string>
				<key>y</key>
				<string>-1622.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5206.166016</string>
				<key>y</key>
				<string>-1728.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5052.832031</string>
				<key>y</key>
				<string>-1783.666748</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>2</string>
		<key>vertex_end</key>
		<string>1</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>7050.815430</string>
				<key>y</key>
				<string>-1042.140625</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6811.341797</string>
				<key>y</key>
				<string>-1047.403687</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6556.078613</string>
				<key>y</key>
				<string>-1042.140625</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6235.026367</string>
				<key>y</key>
				<string>-1042.140625</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6008.710449</string>
				<key>y</key>
				<string>-1042.140625</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5808.710449</string>
				<key>y</key>
				<string>-1134.245850</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5687.657715</string>
				<key>y</key>
				<string>-1239.509033</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>2</string>
		<key>vertex_end</key>
		<string>3</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>7320.500000</string>
				<key>y</key>
				<string>-1341.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7412.167480</string>
				<key>y</key>
				<string>-1494.333252</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7560.500977</string>
				<key>y</key>
				<string>-1600.999756</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>3</string>
		<key>vertex_end</key>
		<string>2</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>7560.500977</string>
				<key>y</key>
				<string>-1600.999756</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7412.167480</string>
				<key>y</key>
				<string>-1494.333252</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7320.500000</string>
				<key>y</key>
				<string>-1341.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>3</string>
		<key>vertex_end</key>
		<string>4</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>8167.939453</string>
				<key>y</key>
				<string>-1628.982666</string>
			</dict>
			<dict>
				<key>x</key>
				<string>8396.886719</string>
				<key>y</key>
				<string>-1626.351196</string>
			</dict>
			<dict>
				<key>x</key>
				<string>8702.150391</string>
				<key>y</key>
				<string>-1631.614258</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>3</string>
		<key>vertex_end</key>
		<string>16</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>7878.465820</string>
				<key>y</key>
				<string>-1850.035645</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7878.465820</string>
				<key>y</key>
				<string>-1973.719849</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7878.465820</string>
				<key>y</key>
				<string>-2142.140869</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7878.465820</string>
				<key>y</key>
				<string>-2373.719727</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7883.729492</string>
				<key>y</key>
				<string>-2552.667236</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7881.097656</string>
				<key>y</key>
				<string>-2726.351318</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7886.360840</string>
				<key>y</key>
				<string>-2900.035645</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7878.465820</string>
				<key>y</key>
				<string>-3084.246094</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>4</string>
		<key>vertex_end</key>
		<string>3</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>8702.150391</string>
				<key>y</key>
				<string>-1631.614258</string>
			</dict>
			<dict>
				<key>x</key>
				<string>8396.886719</string>
				<key>y</key>
				<string>-1626.351196</string>
			</dict>
			<dict>
				<key>x</key>
				<string>8167.939453</string>
				<key>y</key>
				<string>-1628.982666</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>4</string>
		<key>vertex_end</key>
		<string>17</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>9028.465820</string>
				<key>y</key>
				<string>-1850.035645</string>
			</dict>
			<dict>
				<key>x</key>
				<string>9015.308594</string>
				<key>y</key>
				<string>-2023.719482</string>
			</dict>
			<dict>
				<key>x</key>
				<string>9025.834961</string>
				<key>y</key>
				<string>-2255.298340</string>
			</dict>
			<dict>
				<key>x</key>
				<string>9020.571289</string>
				<key>y</key>
				<string>-2450.035400</string>
			</dict>
			<dict>
				<key>x</key>
				<string>9015.308594</string>
				<key>y</key>
				<string>-2639.509033</string>
			</dict>
			<dict>
				<key>x</key>
				<string>9023.203125</string>
				<key>y</key>
				<string>-2792.140625</string>
			</dict>
			<dict>
				<key>x</key>
				<string>9015.308594</string>
				<key>y</key>
				<string>-3000.035156</string>
			</dict>
			<dict>
				<key>x</key>
				<string>9020.570312</string>
				<key>y</key>
				<string>-3139.509033</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>5</string>
		<key>vertex_end</key>
		<string>1</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>5052.832031</string>
				<key>y</key>
				<string>-1783.666748</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5206.166016</string>
				<key>y</key>
				<string>-1728.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5312.833008</string>
				<key>y</key>
				<string>-1622.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>5</string>
		<key>vertex_end</key>
		<string>6</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>4835.500977</string>
				<key>y</key>
				<string>-2108.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4920.500977</string>
				<key>y</key>
				<string>-2239.666748</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5192.167480</string>
				<key>y</key>
				<string>-2278.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>5</string>
		<key>vertex_end</key>
		<string>11</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>4533.499512</string>
				<key>y</key>
				<string>-1807.333008</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4426.833008</string>
				<key>y</key>
				<string>-1860.666260</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4326.833008</string>
				<key>y</key>
				<string>-1958.999634</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4248.499512</string>
				<key>y</key>
				<string>-2128.999512</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4280.166016</string>
				<key>y</key>
				<string>-2362.333008</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4495.166016</string>
				<key>y</key>
				<string>-2578.999512</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4731.833008</string>
				<key>y</key>
				<string>-2618.999512</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4953.499512</string>
				<key>y</key>
				<string>-2738.999512</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5040.166992</string>
				<key>y</key>
				<string>-2877.333008</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5060.166992</string>
				<key>y</key>
				<string>-3017.333008</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>6</string>
		<key>vertex_end</key>
		<string>5</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>5192.167480</string>
				<key>y</key>
				<string>-2278.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4920.500977</string>
				<key>y</key>
				<string>-2239.666748</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4835.500977</string>
				<key>y</key>
				<string>-2108.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>6</string>
		<key>vertex_end</key>
		<string>7</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>5519.236816</string>
				<key>y</key>
				<string>-2068.456299</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5629.763184</string>
				<key>y</key>
				<string>-1842.140625</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5798.184082</string>
				<key>y</key>
				<string>-1726.351196</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6124.500000</string>
				<key>y</key>
				<string>-1700.035400</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6382.394531</string>
				<key>y</key>
				<string>-1718.456421</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6508.710449</string>
				<key>y</key>
				<string>-1802.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6640.289062</string>
				<key>y</key>
				<string>-2000.035400</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6661.341797</string>
				<key>y</key>
				<string>-2205.298584</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6650.815430</string>
				<key>y</key>
				<string>-2442.140625</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6619.236816</string>
				<key>y</key>
				<string>-2602.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6495.552734</string>
				<key>y</key>
				<string>-2742.140625</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6324.500000</string>
				<key>y</key>
				<string>-2836.877441</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>7</string>
		<key>vertex_end</key>
		<string>6</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>5788.833984</string>
				<key>y</key>
				<string>-2796.333496</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5603.833984</string>
				<key>y</key>
				<string>-2689.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5515.500977</string>
				<key>y</key>
				<string>-2493.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>7</string>
		<key>vertex_end</key>
		<string>14</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>8</string>
		<key>vertex_end</key>
		<string>0</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>3198.992432</string>
				<key>y</key>
				<string>-2102.509766</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2970.043945</string>
				<key>y</key>
				<string>-1931.457153</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>8</string>
		<key>vertex_end</key>
		<string>9</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>3687.500244</string>
				<key>y</key>
				<string>-2295.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3905.833740</string>
				<key>y</key>
				<string>-2351.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4054.166992</string>
				<key>y</key>
				<string>-2545.000488</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4099.166992</string>
				<key>y</key>
				<string>-2871.667236</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>8</string>
		<key>vertex_end</key>
		<string>10</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>9</string>
		<key>vertex_end</key>
		<string>8</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>4099.166992</string>
				<key>y</key>
				<string>-2871.667236</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4054.166992</string>
				<key>y</key>
				<string>-2545.000488</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3905.833740</string>
				<key>y</key>
				<string>-2351.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3687.500244</string>
				<key>y</key>
				<string>-2295.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>9</string>
		<key>vertex_end</key>
		<string>10</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>9</string>
		<key>vertex_end</key>
		<string>11</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>10</string>
		<key>vertex_end</key>
		<string>0</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>3017.412354</string>
				<key>y</key>
				<string>-3176.350342</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2867.412354</string>
				<key>y</key>
				<string>-3142.139893</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2741.096680</string>
				<key>y</key>
				<string>-3060.561035</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2654.254395</string>
				<key>y</key>
				<string>-2939.508301</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2625.307129</string>
				<key>y</key>
				<string>-2744.771484</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2638.465088</string>
				<key>y</key>
				<string>-2555.297852</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2635.833496</string>
				<key>y</key>
				<string>-2368.455566</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2635.833496</string>
				<key>y</key>
				<string>-2218.455566</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2638.465088</string>
				<key>y</key>
				<string>-2071.087158</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2712.149414</string>
				<key>y</key>
				<string>-1915.823975</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2825.307129</string>
				<key>y</key>
				<string>-1810.560791</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2970.043945</string>
				<key>y</key>
				<string>-1755.297607</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>10</string>
		<key>vertex_end</key>
		<string>8</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>10</string>
		<key>vertex_end</key>
		<string>9</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>10</string>
		<key>vertex_end</key>
		<string>18</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>3213.500244</string>
				<key>y</key>
				<string>-3431.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3306.833496</string>
				<key>y</key>
				<string>-3616.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3583.500000</string>
				<key>y</key>
				<string>-3737.666748</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3851.833496</string>
				<key>y</key>
				<string>-3807.666748</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3993.500244</string>
				<key>y</key>
				<string>-4027.667480</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>11</string>
		<key>vertex_end</key>
		<string>5</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>5060.166992</string>
				<key>y</key>
				<string>-3017.333008</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5040.166992</string>
				<key>y</key>
				<string>-2877.333008</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4953.499512</string>
				<key>y</key>
				<string>-2738.999512</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4731.833008</string>
				<key>y</key>
				<string>-2618.999512</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4495.166016</string>
				<key>y</key>
				<string>-2578.999512</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4280.166016</string>
				<key>y</key>
				<string>-2362.333008</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4248.499512</string>
				<key>y</key>
				<string>-2128.999512</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4326.833008</string>
				<key>y</key>
				<string>-1958.999634</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4426.833008</string>
				<key>y</key>
				<string>-1860.666260</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4533.499512</string>
				<key>y</key>
				<string>-1807.333008</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>11</string>
		<key>vertex_end</key>
		<string>9</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>11</string>
		<key>vertex_end</key>
		<string>12</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>12</string>
		<key>vertex_end</key>
		<string>11</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>12</string>
		<key>vertex_end</key>
		<string>13</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>12</string>
		<key>vertex_end</key>
		<string>19</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>13</string>
		<key>vertex_end</key>
		<string>12</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>13</string>
		<key>vertex_end</key>
		<string>14</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>13</string>
		<key>vertex_end</key>
		<string>20</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>14</string>
		<key>vertex_end</key>
		<string>7</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>14</string>
		<key>vertex_end</key>
		<string>13</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>14</string>
		<key>vertex_end</key>
		<string>15</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>15</string>
		<key>vertex_end</key>
		<string>14</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>15</string>
		<key>vertex_end</key>
		<string>16</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>6523.202148</string>
				<key>y</key>
				<string>-3555.298340</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6620.570801</string>
				<key>y</key>
				<string>-3363.193115</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6812.675781</string>
				<key>y</key>
				<string>-3236.877441</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7038.991699</string>
				<key>y</key>
				<string>-3226.351074</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7260.044434</string>
				<key>y</key>
				<string>-3228.982666</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7473.202148</string>
				<key>y</key>
				<string>-3226.351074</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7652.149414</string>
				<key>y</key>
				<string>-3231.614258</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>15</string>
		<key>vertex_end</key>
		<string>22</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>16</string>
		<key>vertex_end</key>
		<string>3</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>7878.465820</string>
				<key>y</key>
				<string>-3084.246094</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7886.360840</string>
				<key>y</key>
				<string>-2900.035645</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7881.097656</string>
				<key>y</key>
				<string>-2726.351318</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7883.729492</string>
				<key>y</key>
				<string>-2552.667236</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7878.465820</string>
				<key>y</key>
				<string>-2373.719727</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7878.465820</string>
				<key>y</key>
				<string>-2142.140869</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7878.465820</string>
				<key>y</key>
				<string>-1973.719849</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7878.465820</string>
				<key>y</key>
				<string>-1850.035645</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>16</string>
		<key>vertex_end</key>
		<string>15</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>7652.149414</string>
				<key>y</key>
				<string>-3231.614258</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7473.202148</string>
				<key>y</key>
				<string>-3226.351074</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7260.044434</string>
				<key>y</key>
				<string>-3228.982666</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7038.991699</string>
				<key>y</key>
				<string>-3226.351074</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6812.675781</string>
				<key>y</key>
				<string>-3236.877441</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6620.570801</string>
				<key>y</key>
				<string>-3363.193115</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6523.202148</string>
				<key>y</key>
				<string>-3555.298340</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>16</string>
		<key>vertex_end</key>
		<string>17</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>8125.833984</string>
				<key>y</key>
				<string>-3239.351318</string>
			</dict>
			<dict>
				<key>x</key>
				<string>8302.150391</string>
				<key>y</key>
				<string>-3236.719727</string>
			</dict>
			<dict>
				<key>x</key>
				<string>8570.570312</string>
				<key>y</key>
				<string>-3244.614502</string>
			</dict>
			<dict>
				<key>x</key>
				<string>8778.465820</string>
				<key>y</key>
				<string>-3244.614502</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>17</string>
		<key>vertex_end</key>
		<string>4</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>9020.570312</string>
				<key>y</key>
				<string>-3139.509033</string>
			</dict>
			<dict>
				<key>x</key>
				<string>9015.308594</string>
				<key>y</key>
				<string>-3000.035156</string>
			</dict>
			<dict>
				<key>x</key>
				<string>9023.203125</string>
				<key>y</key>
				<string>-2792.140625</string>
			</dict>
			<dict>
				<key>x</key>
				<string>9015.308594</string>
				<key>y</key>
				<string>-2639.509033</string>
			</dict>
			<dict>
				<key>x</key>
				<string>9020.571289</string>
				<key>y</key>
				<string>-2450.035400</string>
			</dict>
			<dict>
				<key>x</key>
				<string>9025.834961</string>
				<key>y</key>
				<string>-2255.298340</string>
			</dict>
			<dict>
				<key>x</key>
				<string>9015.308594</string>
				<key>y</key>
				<string>-2023.719482</string>
			</dict>
			<dict>
				<key>x</key>
				<string>9028.465820</string>
				<key>y</key>
				<string>-1850.035645</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>17</string>
		<key>vertex_end</key>
		<string>16</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>8778.465820</string>
				<key>y</key>
				<string>-3244.614502</string>
			</dict>
			<dict>
				<key>x</key>
				<string>8570.570312</string>
				<key>y</key>
				<string>-3244.614502</string>
			</dict>
			<dict>
				<key>x</key>
				<string>8302.150391</string>
				<key>y</key>
				<string>-3236.719727</string>
			</dict>
			<dict>
				<key>x</key>
				<string>8125.833984</string>
				<key>y</key>
				<string>-3239.351318</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>18</string>
		<key>vertex_end</key>
		<string>10</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>3993.500244</string>
				<key>y</key>
				<string>-4027.667480</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3851.833496</string>
				<key>y</key>
				<string>-3807.666748</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3583.500000</string>
				<key>y</key>
				<string>-3737.666748</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3306.833496</string>
				<key>y</key>
				<string>-3616.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3213.500244</string>
				<key>y</key>
				<string>-3431.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>18</string>
		<key>vertex_end</key>
		<string>19</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>18</string>
		<key>vertex_end</key>
		<string>28</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>4015.833496</string>
				<key>y</key>
				<string>-5338.000488</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4142.500000</string>
				<key>y</key>
				<string>-5534.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4370.833496</string>
				<key>y</key>
				<string>-5631.333984</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>19</string>
		<key>vertex_end</key>
		<string>12</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>19</string>
		<key>vertex_end</key>
		<string>18</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>19</string>
		<key>vertex_end</key>
		<string>21</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>20</string>
		<key>vertex_end</key>
		<string>13</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>20</string>
		<key>vertex_end</key>
		<string>21</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>21</string>
		<key>vertex_end</key>
		<string>20</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>21</string>
		<key>vertex_end</key>
		<string>23</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>21</string>
		<key>vertex_end</key>
		<string>28</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>22</string>
		<key>vertex_end</key>
		<string>15</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>22</string>
		<key>vertex_end</key>
		<string>23</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>22</string>
		<key>vertex_end</key>
		<string>24</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>23</string>
		<key>vertex_end</key>
		<string>21</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>23</string>
		<key>vertex_end</key>
		<string>22</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>23</string>
		<key>vertex_end</key>
		<string>25</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>24</string>
		<key>vertex_end</key>
		<string>22</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>24</string>
		<key>vertex_end</key>
		<string>25</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>24</string>
		<key>vertex_end</key>
		<string>26</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>25</string>
		<key>vertex_end</key>
		<string>23</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>25</string>
		<key>vertex_end</key>
		<string>24</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>25</string>
		<key>vertex_end</key>
		<string>27</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>25</string>
		<key>vertex_end</key>
		<string>29</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>26</string>
		<key>vertex_end</key>
		<string>24</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>27</string>
		<key>vertex_end</key>
		<string>25</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>27</string>
		<key>vertex_end</key>
		<string>30</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>28</string>
		<key>vertex_end</key>
		<string>18</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>4370.833496</string>
				<key>y</key>
				<string>-5631.333984</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4142.500000</string>
				<key>y</key>
				<string>-5534.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4015.833496</string>
				<key>y</key>
				<string>-5338.000488</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>28</string>
		<key>vertex_end</key>
		<string>21</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>28</string>
		<key>vertex_end</key>
		<string>29</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>29</string>
		<key>vertex_end</key>
		<string>25</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>29</string>
		<key>vertex_end</key>
		<string>28</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>29</string>
		<key>vertex_end</key>
		<string>30</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>30</string>
		<key>vertex_end</key>
		<string>27</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>30</string>
		<key>vertex_end</key>
		<string>29</string>
		<key>sub_points</key>
		<array/>
	</dict>
</array>
</plist>
