<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>vertex_start</key>
		<string>0</string>
		<key>vertex_end</key>
		<string>1</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>3223.166748</string>
				<key>y</key>
				<string>-1430.000366</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3343.166748</string>
				<key>y</key>
				<string>-1276.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3573.166504</string>
				<key>y</key>
				<string>-1191.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5023.166504</string>
				<key>y</key>
				<string>-1173.333618</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5229.833496</string>
				<key>y</key>
				<string>-1193.333618</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5378.166992</string>
				<key>y</key>
				<string>-1270.000244</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>0</string>
		<key>vertex_end</key>
		<string>8</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>0</string>
		<key>vertex_end</key>
		<string>10</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>2960.833496</string>
				<key>y</key>
				<string>-1758.333374</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2804.166504</string>
				<key>y</key>
				<string>-1823.333252</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2657.500000</string>
				<key>y</key>
				<string>-1999.999878</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2634.166504</string>
				<key>y</key>
				<string>-2196.666504</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2627.500000</string>
				<key>y</key>
				<string>-2751.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2707.500000</string>
				<key>y</key>
				<string>-3011.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2904.166504</string>
				<key>y</key>
				<string>-3165.000244</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>1</string>
		<key>vertex_end</key>
		<string>0</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>5329.500977</string>
				<key>y</key>
				<string>-1230.333496</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5219.501953</string>
				<key>y</key>
				<string>-1190.333862</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5002.835449</string>
				<key>y</key>
				<string>-1183.667236</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3664.501953</string>
				<key>y</key>
				<string>-1183.667114</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3424.501953</string>
				<key>y</key>
				<string>-1222.000244</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3282.835449</string>
				<key>y</key>
				<string>-1343.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3204.501953</string>
				<key>y</key>
				<string>-1483.666992</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>1</string>
		<key>vertex_end</key>
		<string>2</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>5802.833008</string>
				<key>y</key>
				<string>-1132.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5986.166016</string>
				<key>y</key>
				<string>-1055.333496</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6326.166016</string>
				<key>y</key>
				<string>-1052.000244</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>1</string>
		<key>vertex_end</key>
		<string>5</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>5312.833008</string>
				<key>y</key>
				<string>-1622.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5206.166016</string>
				<key>y</key>
				<string>-1728.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5052.832031</string>
				<key>y</key>
				<string>-1783.666748</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>2</string>
		<key>vertex_end</key>
		<string>1</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>6326.166016</string>
				<key>y</key>
				<string>-1052.000244</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5986.166016</string>
				<key>y</key>
				<string>-1055.333496</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5802.833008</string>
				<key>y</key>
				<string>-1132.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>2</string>
		<key>vertex_end</key>
		<string>3</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>7320.500000</string>
				<key>y</key>
				<string>-1341.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7412.167480</string>
				<key>y</key>
				<string>-1494.333252</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7560.500977</string>
				<key>y</key>
				<string>-1600.999756</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>3</string>
		<key>vertex_end</key>
		<string>2</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>7560.500977</string>
				<key>y</key>
				<string>-1600.999756</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7412.167480</string>
				<key>y</key>
				<string>-1494.333252</string>
			</dict>
			<dict>
				<key>x</key>
				<string>7320.500000</string>
				<key>y</key>
				<string>-1341.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>3</string>
		<key>vertex_end</key>
		<string>4</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>3</string>
		<key>vertex_end</key>
		<string>16</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>4</string>
		<key>vertex_end</key>
		<string>3</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>4</string>
		<key>vertex_end</key>
		<string>17</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>5</string>
		<key>vertex_end</key>
		<string>1</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>5052.832031</string>
				<key>y</key>
				<string>-1783.666748</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5206.166016</string>
				<key>y</key>
				<string>-1728.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5312.833008</string>
				<key>y</key>
				<string>-1622.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>5</string>
		<key>vertex_end</key>
		<string>6</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>4835.500977</string>
				<key>y</key>
				<string>-2108.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4920.500977</string>
				<key>y</key>
				<string>-2239.666748</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5192.167480</string>
				<key>y</key>
				<string>-2278.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>5</string>
		<key>vertex_end</key>
		<string>11</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>4533.499512</string>
				<key>y</key>
				<string>-1807.333008</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4426.833008</string>
				<key>y</key>
				<string>-1860.666260</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4326.833008</string>
				<key>y</key>
				<string>-1958.999634</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4248.499512</string>
				<key>y</key>
				<string>-2128.999512</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4280.166016</string>
				<key>y</key>
				<string>-2362.333008</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4495.166016</string>
				<key>y</key>
				<string>-2578.999512</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4731.833008</string>
				<key>y</key>
				<string>-2618.999512</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4953.499512</string>
				<key>y</key>
				<string>-2738.999512</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5040.166992</string>
				<key>y</key>
				<string>-2877.333008</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5060.166992</string>
				<key>y</key>
				<string>-3017.333008</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>6</string>
		<key>vertex_end</key>
		<string>5</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>5192.167480</string>
				<key>y</key>
				<string>-2278.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4920.500977</string>
				<key>y</key>
				<string>-2239.666748</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4835.500977</string>
				<key>y</key>
				<string>-2108.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>6</string>
		<key>vertex_end</key>
		<string>7</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>5515.500977</string>
				<key>y</key>
				<string>-2493.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5603.833984</string>
				<key>y</key>
				<string>-2689.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5788.833984</string>
				<key>y</key>
				<string>-2796.333496</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>7</string>
		<key>vertex_end</key>
		<string>6</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>5788.833984</string>
				<key>y</key>
				<string>-2796.333496</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5603.833984</string>
				<key>y</key>
				<string>-2689.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5515.500977</string>
				<key>y</key>
				<string>-2493.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>7</string>
		<key>vertex_end</key>
		<string>14</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>8</string>
		<key>vertex_end</key>
		<string>0</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>8</string>
		<key>vertex_end</key>
		<string>9</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>3687.500244</string>
				<key>y</key>
				<string>-2295.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3905.833740</string>
				<key>y</key>
				<string>-2351.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4054.166992</string>
				<key>y</key>
				<string>-2545.000488</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4099.166992</string>
				<key>y</key>
				<string>-2871.667236</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>8</string>
		<key>vertex_end</key>
		<string>10</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>9</string>
		<key>vertex_end</key>
		<string>8</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>4099.166992</string>
				<key>y</key>
				<string>-2871.667236</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4054.166992</string>
				<key>y</key>
				<string>-2545.000488</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3905.833740</string>
				<key>y</key>
				<string>-2351.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3687.500244</string>
				<key>y</key>
				<string>-2295.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>9</string>
		<key>vertex_end</key>
		<string>10</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>9</string>
		<key>vertex_end</key>
		<string>11</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>10</string>
		<key>vertex_end</key>
		<string>0</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>2989.166992</string>
				<key>y</key>
				<string>-3181.666504</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2787.500244</string>
				<key>y</key>
				<string>-3093.333252</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2640.833496</string>
				<key>y</key>
				<string>-2901.666504</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2619.166992</string>
				<key>y</key>
				<string>-2723.332764</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2644.166992</string>
				<key>y</key>
				<string>-2054.999512</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2787.500488</string>
				<key>y</key>
				<string>-1823.332764</string>
			</dict>
			<dict>
				<key>x</key>
				<string>2985.833740</string>
				<key>y</key>
				<string>-1746.666138</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>10</string>
		<key>vertex_end</key>
		<string>8</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>10</string>
		<key>vertex_end</key>
		<string>9</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>10</string>
		<key>vertex_end</key>
		<string>18</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>3213.500244</string>
				<key>y</key>
				<string>-3431.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3306.833496</string>
				<key>y</key>
				<string>-3616.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3583.500000</string>
				<key>y</key>
				<string>-3737.666748</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3851.833496</string>
				<key>y</key>
				<string>-3807.666748</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3993.500244</string>
				<key>y</key>
				<string>-4027.667480</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>11</string>
		<key>vertex_end</key>
		<string>5</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>5060.166992</string>
				<key>y</key>
				<string>-3017.333008</string>
			</dict>
			<dict>
				<key>x</key>
				<string>5040.166992</string>
				<key>y</key>
				<string>-2877.333008</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4953.499512</string>
				<key>y</key>
				<string>-2738.999512</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4731.833008</string>
				<key>y</key>
				<string>-2618.999512</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4495.166016</string>
				<key>y</key>
				<string>-2578.999512</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4280.166016</string>
				<key>y</key>
				<string>-2362.333008</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4248.499512</string>
				<key>y</key>
				<string>-2128.999512</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4326.833008</string>
				<key>y</key>
				<string>-1958.999634</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4426.833008</string>
				<key>y</key>
				<string>-1860.666260</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4533.499512</string>
				<key>y</key>
				<string>-1807.333008</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>11</string>
		<key>vertex_end</key>
		<string>8</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>11</string>
		<key>vertex_end</key>
		<string>12</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>12</string>
		<key>vertex_end</key>
		<string>11</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>12</string>
		<key>vertex_end</key>
		<string>13</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>12</string>
		<key>vertex_end</key>
		<string>19</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>13</string>
		<key>vertex_end</key>
		<string>12</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>13</string>
		<key>vertex_end</key>
		<string>14</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>13</string>
		<key>vertex_end</key>
		<string>20</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>14</string>
		<key>vertex_end</key>
		<string>7</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>14</string>
		<key>vertex_end</key>
		<string>13</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>14</string>
		<key>vertex_end</key>
		<string>15</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>15</string>
		<key>vertex_end</key>
		<string>14</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>15</string>
		<key>vertex_end</key>
		<string>16</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>6511.833496</string>
				<key>y</key>
				<string>-3556.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6613.500488</string>
				<key>y</key>
				<string>-3355.000244</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6851.833984</string>
				<key>y</key>
				<string>-3235.000244</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>15</string>
		<key>vertex_end</key>
		<string>22</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>16</string>
		<key>vertex_end</key>
		<string>3</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>16</string>
		<key>vertex_end</key>
		<string>15</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>6851.833984</string>
				<key>y</key>
				<string>-3235.000244</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6613.500488</string>
				<key>y</key>
				<string>-3355.000244</string>
			</dict>
			<dict>
				<key>x</key>
				<string>6511.833496</string>
				<key>y</key>
				<string>-3556.666992</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>16</string>
		<key>vertex_end</key>
		<string>17</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>17</string>
		<key>vertex_end</key>
		<string>4</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>17</string>
		<key>vertex_end</key>
		<string>16</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>18</string>
		<key>vertex_end</key>
		<string>10</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>3993.500244</string>
				<key>y</key>
				<string>-4027.667480</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3851.833496</string>
				<key>y</key>
				<string>-3807.666748</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3583.500000</string>
				<key>y</key>
				<string>-3737.666748</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3306.833496</string>
				<key>y</key>
				<string>-3616.000000</string>
			</dict>
			<dict>
				<key>x</key>
				<string>3213.500244</string>
				<key>y</key>
				<string>-3431.000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>18</string>
		<key>vertex_end</key>
		<string>19</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>18</string>
		<key>vertex_end</key>
		<string>28</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>4015.833496</string>
				<key>y</key>
				<string>-5338.000488</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4142.500000</string>
				<key>y</key>
				<string>-5534.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4370.833496</string>
				<key>y</key>
				<string>-5631.333984</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>19</string>
		<key>vertex_end</key>
		<string>12</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>19</string>
		<key>vertex_end</key>
		<string>18</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>19</string>
		<key>vertex_end</key>
		<string>21</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>20</string>
		<key>vertex_end</key>
		<string>13</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>20</string>
		<key>vertex_end</key>
		<string>21</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>21</string>
		<key>vertex_end</key>
		<string>20</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>21</string>
		<key>vertex_end</key>
		<string>23</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>21</string>
		<key>vertex_end</key>
		<string>28</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>22</string>
		<key>vertex_end</key>
		<string>15</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>22</string>
		<key>vertex_end</key>
		<string>23</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>22</string>
		<key>vertex_end</key>
		<string>24</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>23</string>
		<key>vertex_end</key>
		<string>21</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>23</string>
		<key>vertex_end</key>
		<string>22</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>23</string>
		<key>vertex_end</key>
		<string>25</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>24</string>
		<key>vertex_end</key>
		<string>22</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>24</string>
		<key>vertex_end</key>
		<string>25</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>24</string>
		<key>vertex_end</key>
		<string>26</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>25</string>
		<key>vertex_end</key>
		<string>23</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>25</string>
		<key>vertex_end</key>
		<string>24</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>25</string>
		<key>vertex_end</key>
		<string>27</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>25</string>
		<key>vertex_end</key>
		<string>29</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>26</string>
		<key>vertex_end</key>
		<string>24</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>27</string>
		<key>vertex_end</key>
		<string>25</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>27</string>
		<key>vertex_end</key>
		<string>30</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>28</string>
		<key>vertex_end</key>
		<string>18</string>
		<key>sub_points</key>
		<array>
			<dict>
				<key>x</key>
				<string>4370.833496</string>
				<key>y</key>
				<string>-5631.333984</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4142.500000</string>
				<key>y</key>
				<string>-5534.666992</string>
			</dict>
			<dict>
				<key>x</key>
				<string>4015.833496</string>
				<key>y</key>
				<string>-5338.000488</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>28</string>
		<key>vertex_end</key>
		<string>21</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>28</string>
		<key>vertex_end</key>
		<string>29</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>29</string>
		<key>vertex_end</key>
		<string>25</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>29</string>
		<key>vertex_end</key>
		<string>28</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>29</string>
		<key>vertex_end</key>
		<string>30</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>30</string>
		<key>vertex_end</key>
		<string>27</string>
		<key>sub_points</key>
		<array/>
	</dict>
	<dict>
		<key>vertex_start</key>
		<string>30</string>
		<key>vertex_end</key>
		<string>29</string>
		<key>sub_points</key>
		<array/>
	</dict>
</array>
</plist>
