<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>point</key>
		<dict>
			<key>x</key>
			<string>3641.096680</string>
			<key>y</key>
			<string>-3172.403564</string>
		</dict>
		<key>eventName</key>
		<string>water</string>
		<key>comboTime</key>
		<string>2</string>
	</dict>
	<dict>
		<key>point</key>
		<dict>
			<key>x</key>
			<string>4598.991211</string>
			<key>y</key>
			<string>-3172.403564</string>
		</dict>
		<key>eventName</key>
		<string>water</string>
		<key>comboTime</key>
		<string>2</string>
	</dict>
	<dict>
		<key>point</key>
		<dict>
			<key>x</key>
			<string>6366.605469</string>
			<key>y</key>
			<string>-1065.824829</string>
		</dict>
		<key>eventName</key>
		<string>rough</string>
		<key>comboTime</key>
		<string>2</string>
	</dict>
	<dict>
		<key>point</key>
		<dict>
			<key>x</key>
			<string>7435.026367</string>
			<key>y</key>
			<string>-1497.403809</string>
		</dict>
		<key>eventName</key>
		<string>rough</string>
		<key>comboTime</key>
		<string>2</string>
	</dict>
	<dict>
		<key>point</key>
		<dict>
			<key>x</key>
			<string>5829.518066</string>
			<key>y</key>
			<string>-3787.351318</string>
		</dict>
		<key>eventName</key>
		<string>turtle</string>
		<key>comboTime</key>
		<string>2</string>
	</dict>
	<dict>
		<key>point</key>
		<dict>
			<key>x</key>
			<string>6308.465332</string>
			<key>y</key>
			<string>-3792.614502</string>
		</dict>
		<key>eventName</key>
		<string>turtle</string>
		<key>comboTime</key>
		<string>2</string>
	</dict>
</array>
</plist>
