<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>point</key>
		<dict>
			<key>x</key>
			<string>5799.517090</string>
			<key>y</key>
			<string>-4760.403809</string>
		</dict>
		<key>eventName</key>
		<string>water</string>
		<key>comboTime</key>
		<string>2</string>
	</dict>
	<dict>
		<key>point</key>
		<dict>
			<key>x</key>
			<string>8181.517578</string>
			<key>y</key>
			<string>-4755.140625</string>
		</dict>
		<key>eventName</key>
		<string>rough</string>
		<key>comboTime</key>
		<string>2</string>
	</dict>
</array>
</plist>
