<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>file_name</key>
		<string>4traffic.png</string>
		<key>x</key>
		<string>3338.50</string>
		<key>y</key>
		<string>3176.50</string>
		<key>rotation</key>
		<string>0</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>x</key>
		<string>3643.50</string>
		<key>y</key>
		<string>3177.00</string>
		<key>rotation</key>
		<string>0</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>x</key>
		<string>3934.50</string>
		<key>y</key>
		<string>3177.00</string>
		<key>rotation</key>
		<string>0</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>x</key>
		<string>3688.50 </string>
		<key>y</key>
		<string>2293.00</string>
		<key>rotation</key>
		<string>0</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>x</key>
		<string>3643.50</string>
		<key>y</key>
		<string>2293.00</string>
		<key>rotation</key>
		<string>0</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>x</key>
		<string>4239.00</string>
		<key>y</key>
		<string>2842.50</string>
		<key>rotation</key>
		<string>90</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>x</key>
		<string>2772.00</string>
		<key>y</key>
		<string>2587.50</string>
		<key>rotation</key>
		<string>90</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>x</key>
		<string>2772.00</string>
		<key>y</key>
		<string>2298.50</string>
		<key>rotation</key>
		<string>90</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>x</key>
		<string>3338.00</string>
		<key>y</key>
		<string>2871.50</string>
		<key>rotation</key>
		<string>90</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>x</key>
		<string>3338.00</string>
		<key>y</key>
		<string>2596.50</string>
		<key>rotation</key>
		<string>90</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>x</key>
		<string>3339.00</string>
		<key>y</key>
		<string>2053.50</string>
		<key>rotation</key>
		<string>90</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>x</key>
		<string>4239.50</string>
		<key>y</key>
		<string>3167.00</string>
		<key>rotation</key>
		<string>0</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>x</key>
		<string>3349.00</string>
		<key>y</key>
		<string>2292.50</string>
		<key>rotation</key>
		<string>90</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>x</key>
		<string>5662.21</string>
		<key>y</key>
		<string>1394.68</string>
		<key>rotation</key>
		<string>-46.82</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>x</key>
		<string>3329.00</string>
		<key>y</key>
		<string>1748.50</string>
		<key>rotation</key>
		<string>-90.00</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road01.png</string>
		<key>x</key>
		<string>4142.00</string>
		<key>y</key>
		<string>1182.00</string>
		<key>rotation</key>
		<string>0</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road01.png</string>
		<key>x</key>
		<string>4844.00</string>
		<key>y</key>
		<string>1182.00</string>
		<key>rotation</key>
		<string>0</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road03.png</string>
		<key>x</key>
		<string>3446.00</string>
		<key>y</key>
		<string>1288.00</string>
		<key>rotation</key>
		<string>0</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road03.png</string>
		<key>x</key>
		<string>4133.00</string>
		<key>y</key>
		<string>2398.00</string>
		<key>rotation</key>
		<string>90.00</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road03.png</string>
		<key>x</key>
		<string>2882.00</string>
		<key>y</key>
		<string>3070.00</string>
		<key>rotation</key>
		<string>-90.00</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road03.png</string>
		<key>x</key>
		<string>2879.00</string>
		<key>y</key>
		<string>1854.00</string>
		<key>rotation</key>
		<string>0</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road05.png</string>
		<key>x</key>
		<string>5385.50</string>
		<key>y</key>
		<string>1667.00</string>
		<key>rotation</key>
		<string>0</string>
	</dict>
</array>
</plist>
