<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>-45</string>
		<key>x</key>
		<string>5516.5</string>
		<key>y</key>
		<string>1401</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>4traffic.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>6508.5</string>
		<key>y</key>
		<string>5630.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>180</string>
		<key>x</key>
		<string>6507.5</string>
		<key>y</key>
		<string>4766</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>6508</string>
		<key>y</key>
		<string>5427.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>6508</string>
		<key>y</key>
		<string>5348.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>6508</string>
		<key>y</key>
		<string>5059.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>7725.5</string>
		<key>y</key>
		<string>5619</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>7726</string>
		<key>y</key>
		<string>5427.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>7726</string>
		<key>y</key>
		<string>5348.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>7726</string>
		<key>y</key>
		<string>5059.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8758.5</string>
		<key>y</key>
		<string>5619</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>180</string>
		<key>x</key>
		<string>8758.5</string>
		<key>y</key>
		<string>4766</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>8759</string>
		<key>y</key>
		<string>5427.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>8759</string>
		<key>y</key>
		<string>5348.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>8759</string>
		<key>y</key>
		<string>5059.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>180</string>
		<key>x</key>
		<string>8832.5</string>
		<key>y</key>
		<string>3805</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>180</string>
		<key>x</key>
		<string>9016.5</string>
		<key>y</key>
		<string>1632</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>180</string>
		<key>x</key>
		<string>7301.5</string>
		<key>y</key>
		<string>1057</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>180</string>
		<key>x</key>
		<string>7874.5</string>
		<key>y</key>
		<string>1632</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>9016.5</string>
		<key>y</key>
		<string>3218</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>7874.5</string>
		<key>y</key>
		<string>3218</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>180</string>
		<key>x</key>
		<string>7725.5</string>
		<key>y</key>
		<string>3806</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>9308.5</string>
		<key>y</key>
		<string>4756</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>9063.5</string>
		<key>y</key>
		<string>4756</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8598.5</string>
		<key>y</key>
		<string>4756</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>4554.5</string>
		<key>y</key>
		<string>5631</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>4843.5</string>
		<key>y</key>
		<string>5631</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>5132.5</string>
		<key>y</key>
		<string>5631</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>5404.5</string>
		<key>y</key>
		<string>5631</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>5648.5</string>
		<key>y</key>
		<string>5631</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>5916.5</string>
		<key>y</key>
		<string>5631</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>6203.5</string>
		<key>y</key>
		<string>5631</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>7110.5</string>
		<key>y</key>
		<string>5995</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>7378.5</string>
		<key>y</key>
		<string>5995</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>7664.5</string>
		<key>y</key>
		<string>5995</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>7953.5</string>
		<key>y</key>
		<string>5995</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8241.5</string>
		<key>y</key>
		<string>5995</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8509.5</string>
		<key>y</key>
		<string>5995</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8777.5</string>
		<key>y</key>
		<string>5995</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>9063.5</string>
		<key>y</key>
		<string>5995</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>9352.5</string>
		<key>y</key>
		<string>5995</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>9352.5</string>
		<key>y</key>
		<string>5631</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>9063.5</string>
		<key>y</key>
		<string>5631</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8598.5</string>
		<key>y</key>
		<string>5631</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8319.5</string>
		<key>y</key>
		<string>5631</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8030.5</string>
		<key>y</key>
		<string>5631</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>7390.5</string>
		<key>y</key>
		<string>5631</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>7101.5</string>
		<key>y</key>
		<string>5631</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>6812.5</string>
		<key>y</key>
		<string>5631</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8319.5</string>
		<key>y</key>
		<string>4756</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>5854.5</string>
		<key>y</key>
		<string>4756</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>6432.5</string>
		<key>y</key>
		<string>4756</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>6143.5</string>
		<key>y</key>
		<string>4756</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>7420.5</string>
		<key>y</key>
		<string>4756</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>7376.5</string>
		<key>y</key>
		<string>4756</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>6777.5</string>
		<key>y</key>
		<string>4756</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>9426.5</string>
		<key>y</key>
		<string>3796</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>9465.5</string>
		<key>y</key>
		<string>4162</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>9176.5</string>
		<key>y</key>
		<string>4162</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>9137.5</string>
		<key>y</key>
		<string>3796</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>9321.5</string>
		<key>y</key>
		<string>3228</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8711.5</string>
		<key>y</key>
		<string>3228</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8467.5</string>
		<key>y</key>
		<string>3228</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8178.5</string>
		<key>y</key>
		<string>3228</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8530.5</string>
		<key>y</key>
		<string>3796</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8319.5</string>
		<key>y</key>
		<string>3796</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8030.5</string>
		<key>y</key>
		<string>3796</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8030.5</string>
		<key>y</key>
		<string>4756</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>9017</string>
		<key>y</key>
		<string>2923.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>9017</string>
		<key>y</key>
		<string>2778.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>9017</string>
		<key>y</key>
		<string>2492.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>9017</string>
		<key>y</key>
		<string>2213.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>9017</string>
		<key>y</key>
		<string>1926.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>7875</string>
		<key>y</key>
		<string>2923.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>7875</string>
		<key>y</key>
		<string>2866.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>7875</string>
		<key>y</key>
		<string>2577.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>7875</string>
		<key>y</key>
		<string>2294.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>7875</string>
		<key>y</key>
		<string>2215.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>7875</string>
		<key>y</key>
		<string>1926.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>7726</string>
		<key>y</key>
		<string>4467.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>7726</string>
		<key>y</key>
		<string>4388.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>7726</string>
		<key>y</key>
		<string>4099.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>7071.5</string>
		<key>y</key>
		<string>4745</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>180</string>
		<key>x</key>
		<string>7071.5</string>
		<key>y</key>
		<string>3806</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>6507.5</string>
		<key>y</key>
		<string>3784</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>6084.5</string>
		<key>y</key>
		<string>3784</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>5560</string>
		<key>y</key>
		<string>4755.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>180</string>
		<key>x</key>
		<string>5549.5</string>
		<key>y</key>
		<string>3805</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>5073</string>
		<key>y</key>
		<string>3795.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>180</string>
		<key>x</key>
		<string>4827.5</string>
		<key>y</key>
		<string>1801</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>5507</string>
		<key>y</key>
		<string>2261.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>180</string>
		<key>x</key>
		<string>6083.5</string>
		<key>y</key>
		<string>2834</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>5054</string>
		<key>y</key>
		<string>4755.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>4015</string>
		<key>y</key>
		<string>4755.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>3205</string>
		<key>y</key>
		<string>2292.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>3194</string>
		<key>y</key>
		<string>2052.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>4traffic.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>7725.5</string>
		<key>y</key>
		<string>4755.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>4traffic.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>3194.5</string>
		<key>y</key>
		<string>3177.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>4093</string>
		<key>y</key>
		<string>2872.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>3194</string>
		<key>y</key>
		<string>2885.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>2624</string>
		<key>y</key>
		<string>2634.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>2624</string>
		<key>y</key>
		<string>2345.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8758.5</string>
		<key>y</key>
		<string>1622</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8468.5</string>
		<key>y</key>
		<string>1622</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8179.5</string>
		<key>y</key>
		<string>1622</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>9321.5</string>
		<key>y</key>
		<string>1622</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>9321.5</string>
		<key>y</key>
		<string>1045</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>9032.5</string>
		<key>y</key>
		<string>1045</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8743.5</string>
		<key>y</key>
		<string>1045</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8454.5</string>
		<key>y</key>
		<string>1045</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>8178.5</string>
		<key>y</key>
		<string>1045</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>180</string>
		<key>x</key>
		<string>7889.5</string>
		<key>y</key>
		<string>1045</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>7600.5</string>
		<key>y</key>
		<string>1045</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>6996.5</string>
		<key>y</key>
		<string>1045</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>6940.5</string>
		<key>y</key>
		<string>1045</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>6651.5</string>
		<key>y</key>
		<string>1045</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road04.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>6695</string>
		<key>y</key>
		<string>5991</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road04.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>9021</string>
		<key>y</key>
		<string>4156</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>6180.5</string>
		<key>y</key>
		<string>1045</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>6362.5</string>
		<key>y</key>
		<string>1045</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>6097.5</string>
		<key>y</key>
		<string>1695</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>6067.5</string>
		<key>y</key>
		<string>1695</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>4900.5</string>
		<key>y</key>
		<string>1181</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>4611.5</string>
		<key>y</key>
		<string>1181</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>4322.5</string>
		<key>y</key>
		<string>1181</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>4033.5</string>
		<key>y</key>
		<string>1181</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>3788.5</string>
		<key>y</key>
		<string>3177</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>3499.5</string>
		<key>y</key>
		<string>3177</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>3499.5</string>
		<key>y</key>
		<string>2292</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>4005</string>
		<key>y</key>
		<string>5079.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>4005</string>
		<key>y</key>
		<string>5060.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>5549</string>
		<key>y</key>
		<string>4450.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>5549</string>
		<key>y</key>
		<string>4388.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>7072</string>
		<key>y</key>
		<string>4467.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>7072</string>
		<key>y</key>
		<string>4388.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>7072</string>
		<key>y</key>
		<string>4099.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>180</string>
		<key>x</key>
		<string>7581.5</string>
		<key>y</key>
		<string>3228</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>7348.5</string>
		<key>y</key>
		<string>3228</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>7059.5</string>
		<key>y</key>
		<string>3228</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>7420.5</string>
		<key>y</key>
		<string>3795</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>7375.5</string>
		<key>y</key>
		<string>3795</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>6812.5</string>
		<key>y</key>
		<string>3795</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>6297.5</string>
		<key>y</key>
		<string>3795</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>5322.5</string>
		<key>y</key>
		<string>3795</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>5802.5</string>
		<key>y</key>
		<string>3795</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>6084</string>
		<key>y</key>
		<string>3489.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>6084</string>
		<key>y</key>
		<string>3418.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>6649</string>
		<key>y</key>
		<string>2273.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>6649</string>
		<key>y</key>
		<string>2245.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>6084</string>
		<key>y</key>
		<string>3128.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>5549</string>
		<key>y</key>
		<string>4099.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>5064</string>
		<key>y</key>
		<string>3482.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>4758.5</string>
		<key>y</key>
		<string>3178</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>4687.5</string>
		<key>y</key>
		<string>3178</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>4398.5</string>
		<key>y</key>
		<string>3178</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>5065</string>
		<key>y</key>
		<string>4100.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>5065</string>
		<key>y</key>
		<string>4161.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>5065</string>
		<key>y</key>
		<string>4450.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>4005</string>
		<key>y</key>
		<string>4563.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>4887.5</string>
		<key>y</key>
		<string>4756</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>4598.5</string>
		<key>y</key>
		<string>4756</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>4309.5</string>
		<key>y</key>
		<string>4756</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>4005</string>
		<key>y</key>
		<string>4274.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>3195</string>
		<key>y</key>
		<string>2597.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road03.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>4110</string>
		<key>y</key>
		<string>5524</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road03.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>3899</string>
		<key>y</key>
		<string>3830</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road03.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>3299</string>
		<key>y</key>
		<string>3617</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road03.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>2731</string>
		<key>y</key>
		<string>3070</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road03.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>6615</string>
		<key>y</key>
		<string>3334</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road03.png</string>
		<key>rotation</key>
		<string>180</string>
		<key>x</key>
		<string>6541</string>
		<key>y</key>
		<string>2718</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road03.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>4353</string>
		<key>y</key>
		<string>1901</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road03.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>4353</string>
		<key>y</key>
		<string>2501</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road05.png</string>
		<key>rotation</key>
		<string>180</string>
		<key>x</key>
		<string>5789.5</string>
		<key>y</key>
		<string>1165</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road05.png</string>
		<key>rotation</key>
		<string>-135</string>
		<key>x</key>
		<string>5152.5</string>
		<key>y</key>
		<string>1203</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road05.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>5235</string>
		<key>y</key>
		<string>1673</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road04.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>5019</string>
		<key>y</key>
		<string>2259</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road03.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>7414</string>
		<key>y</key>
		<string>1514</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road03.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>4955</string>
		<key>y</key>
		<string>2718</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road03.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>5623</string>
		<key>y</key>
		<string>2718</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road03.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>5623</string>
		<key>y</key>
		<string>1801</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road03.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>6542</string>
		<key>y</key>
		<string>1801</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road03.png</string>
		<key>rotation</key>
		<string>90</string>
		<key>x</key>
		<string>3987</string>
		<key>y</key>
		<string>2398</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road03.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>2734</string>
		<key>y</key>
		<string>1854</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>5054</string>
		<key>y</key>
		<string>3177.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>4093.5</string>
		<key>y</key>
		<string>3167</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>3traffic.png</string>
		<key>rotation</key>
		<string>-90</string>
		<key>x</key>
		<string>3184</string>
		<key>y</key>
		<string>1747.5</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road03.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>3301</string>
		<key>y</key>
		<string>1287</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>3744.5</string>
		<key>y</key>
		<string>1182</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>7535.00</string>
		<key>y</key>
		<string>5630.50</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>4790.00</string>
		<key>y</key>
		<string>1795.50</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>0</string>
		<key>x</key>
		<string>3607.00</string>
		<key>y</key>
		<string>2291.50</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90.00</string>
		<key>x</key>
		<string>4094.00</string>
		<key>y</key>
		<string>2821.50</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90.00</string>
		<key>x</key>
		<string>5064.00</string>
		<key>y</key>
		<string>3635.50</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90.00</string>
		<key>x</key>
		<string>4829.00</string>
		<key>y</key>
		<string>1952.50</string>
	</dict>
	<dict>
		<key>file_name</key>
		<string>road02.png</string>
		<key>rotation</key>
		<string>-90.00</string>
		<key>x</key>
		<string>2626.00</string>
		<key>y</key>
		<string>2273.50</string>
	</dict>
</array>
</plist>
