<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
		<string>3192.5</string>
		<key>y</key>
		<string>-1745</string>
	</dict>
	<dict>
		<key>x</key>
		<string>5524.5</string>
		<key>y</key>
		<string>-1417</string>
	</dict>
	<dict>
		<key>x</key>
		<string>7300.5</string>
		<key>y</key>
		<string>-1061</string>
	</dict>
	<dict>
		<key>x</key>
		<string>7880.5</string>
		<key>y</key>
		<string>-1633</string>
		<key>New item</key>
		<string></string>
	</dict>
	<dict>
		<key>x</key>
		<string>9024.5</string>
		<key>y</key>
		<string>-1633</string>
	</dict>
	<dict>
		<key>x</key>
		<string>4831.833496</string>
		<key>y</key>
		<string>-1805.666748</string>
	</dict>
	<dict>
		<key>x</key>
		<string>5511.833496</string>
		<key>y</key>
		<string>-2269.666748</string>
	</dict>
	<dict>
		<key>x</key>
		<string>6087.833496</string>
		<key>y</key>
		<string>-2849.666748</string>
	</dict>
	<dict>
		<key>x</key>
		<string>3195.833496</string>
		<key>y</key>
		<string>-2301.666748</string>
	</dict>
	<dict>
		<key>x</key>
		<string>4099.833496</string>
		<key>y</key>
		<string>-3181.666748</string>
	</dict>
	<dict>
		<key>x</key>
		<string>3191.833496</string>
		<key>y</key>
		<string>-3177.666748</string>
	</dict>
	<dict>
		<key>x</key>
		<string>5059.833496</string>
		<key>y</key>
		<string>-3181.666748</string>
	</dict>
	<dict>
		<key>x</key>
		<string>5071.833496</string>
		<key>y</key>
		<string>-3801.666992</string>
	</dict>
	<dict>
		<key>x</key>
		<string>5555.833496</string>
		<key>y</key>
		<string>-3813.666992</string>
	</dict>
	<dict>
		<key>x</key>
		<string>6083.833496</string>
		<key>y</key>
		<string>-3805.666992</string>
	</dict>
	<dict>
		<key>x</key>
		<string>6511.833496</string>
		<key>y</key>
		<string>-3801.666992</string>
	</dict>
	<dict>
		<key>x</key>
		<string>7879.833496</string>
		<key>y</key>
		<string>-3229.666992</string>
	</dict>
	<dict>
		<key>x</key>
		<string>9019.833984</string>
		<key>y</key>
		<string>-3233.666992</string>
	</dict>
	<dict>
		<key>x</key>
		<string>4015.833496</string>
		<key>y</key>
		<string>-4769.666992</string>
	</dict>
	<dict>
		<key>x</key>
		<string>5059.833496</string>
		<key>y</key>
		<string>-4753.666992</string>
	</dict>
	<dict>
		<key>x</key>
		<string>5559.833496</string>
		<key>y</key>
		<string>-4765.666992</string>
	</dict>
	<dict>
		<key>x</key>
		<string>6507.833496</string>
		<key>y</key>
		<string>-4765.666992</string>
	</dict>
	<dict>
		<key>x</key>
		<string>7071.833496</string>
		<key>y</key>
		<string>-3813.666992</string>
	</dict>
	<dict>
		<key>x</key>
		<string>7079.833496</string>
		<key>y</key>
		<string>-4761.666992</string>
	</dict>
	<dict>
		<key>x</key>
		<string>7727.833496</string>
		<key>y</key>
		<string>-3817.666992</string>
	</dict>
	<dict>
		<key>x</key>
		<string>7727.833496</string>
		<key>y</key>
		<string>-4769.666992</string>
	</dict>
	<dict>
		<key>x</key>
		<string>8835.833984</string>
		<key>y</key>
		<string>-3813.666992</string>
	</dict>
	<dict>
		<key>x</key>
		<string>8759.833984</string>
		<key>y</key>
		<string>-4773.666992</string>
	</dict>
	<dict>
		<key>x</key>
		<string>6507.833984</string>
		<key>y</key>
		<string>-5645.666992</string>
	</dict>
	<dict>
		<key>x</key>
		<string>7727.833984</string>
		<key>y</key>
		<string>-5637.666992</string>
	</dict>
	<dict>
		<key>x</key>
		<string>8763.833984</string>
		<key>y</key>
		<string>-5629.666992</string>
	</dict>
</array>
</plist>
