<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
		<string>6508</string>
		<key>y</key>
		<string>-5059.5</string>
	</dict>
	<dict>
		<key>x</key>
		<string>7725.5</string>
		<key>y</key>
		<string>-5619</string>
	</dict>
</array>
</plist>
