<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
		<string>4240</string>
		<key>y</key>
		<string>-3173</string>
	</dict>
	<dict>
		<key>x</key>
		<string>3335</string>
		<key>y</key>
		<string>-3182</string>
	</dict>
	<dict>
		<key>x</key>
		<string>3339</string>
		<key>y</key>
		<string>-2287</string>
	</dict>
	<dict>
		<key>x</key>
		<string>3340</string>
		<key>y</key>
		<string>-1740</string>
	</dict>
</array>
</plist>
