<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>build01.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,680},{698,670}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,37},{698,670}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>build03.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{708,676}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{708,676}}</string>
                <key>sourceSize</key>
                <string>{760,700}</string>
            </dict>
            <key>build17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{947,909}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,26},{947,909}}</string>
                <key>sourceSize</key>
                <string>{997,961}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buildings_02.png</string>
            <key>size</key>
            <string>{1623,1352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd9441da7f660e9ff3aad1e0405ebbc1$</string>
            <key>textureFileName</key>
            <string>buildings_02.png</string>
        </dict>
    </dict>
</plist>
