<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>build02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,2},{700,450}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{700,450}}</string>
                <key>sourceSize</key>
                <string>{750,500}</string>
            </dict>
            <key>build04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1112,459}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{1112,459}}</string>
                <key>sourceSize</key>
                <string>{1166,509}</string>
            </dict>
            <key>build05.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1159},{242,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{242,245}}</string>
                <key>sourceSize</key>
                <string>{242,249}</string>
            </dict>
            <key>build06.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,463},{694,229}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,25},{694,229}}</string>
                <key>sourceSize</key>
                <string>{744,279}</string>
            </dict>
            <key>build07.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,463},{234,646}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{234,646}}</string>
                <key>sourceSize</key>
                <string>{286,696}</string>
            </dict>
            <key>build08.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,463},{748,259}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{748,259}}</string>
                <key>sourceSize</key>
                <string>{800,309}</string>
            </dict>
            <key>build09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,454},{324,241}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,26},{324,241}}</string>
                <key>sourceSize</key>
                <string>{348,293}</string>
            </dict>
            <key>build10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,454},{486,368}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{486,368}}</string>
                <key>sourceSize</key>
                <string>{536,420}</string>
            </dict>
            <key>build11.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1398},{279,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{279,183}}</string>
                <key>sourceSize</key>
                <string>{333,235}</string>
            </dict>
            <key>build12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1523,824},{168,307}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{168,307}}</string>
                <key>sourceSize</key>
                <string>{222,359}</string>
            </dict>
            <key>build13.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1213},{279,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{279,183}}</string>
                <key>sourceSize</key>
                <string>{333,235}</string>
            </dict>
            <key>build14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,2},{168,307}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{168,307}}</string>
                <key>sourceSize</key>
                <string>{222,359}</string>
            </dict>
            <key>build15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,780},{320,306}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,28},{320,306}}</string>
                <key>sourceSize</key>
                <string>{374,360}</string>
            </dict>
            <key>prob01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,448},{143,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,25},{143,86}}</string>
                <key>sourceSize</key>
                <string>{195,136}</string>
            </dict>
            <key>prob02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,1384},{117,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{117,126}}</string>
                <key>sourceSize</key>
                <string>{167,178}</string>
            </dict>
            <key>prob03.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1406},{200,154}}</string>
                <key>offset</key>
                <string>{-48,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,105},{200,154}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>prob04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,593},{109,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{109,82}}</string>
                <key>sourceSize</key>
                <string>{161,132}</string>
            </dict>
            <key>prob05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1389},{121,121}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{121,121}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>prob06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1283},{420,318}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{420,318}}</string>
                <key>sourceSize</key>
                <string>{470,372}</string>
            </dict>
            <key>prob07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,824},{345,283}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{345,283}}</string>
                <key>sourceSize</key>
                <string>{395,335}</string>
            </dict>
            <key>prob08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1512},{46,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,36}}</string>
                <key>sourceSize</key>
                <string>{46,36}</string>
            </dict>
            <key>prob09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,1537},{46,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,39}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>rail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{444,818}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,818}}</string>
                <key>sourceSize</key>
                <string>{444,818}</string>
            </dict>
            <key>targetA.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,1353},{263,249}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{263,249}}</string>
                <key>sourceSize</key>
                <string>{317,303}</string>
            </dict>
            <key>targetB.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,1102},{263,249}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{263,249}}</string>
                <key>sourceSize</key>
                <string>{317,303}</string>
            </dict>
            <key>targetC.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,1133},{263,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{263,249}}</string>
                <key>sourceSize</key>
                <string>{317,303}</string>
            </dict>
            <key>targetD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,1109},{263,249}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{263,249}}</string>
                <key>sourceSize</key>
                <string>{317,303}</string>
            </dict>
            <key>targetE.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,1360},{249,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,27},{249,263}}</string>
                <key>sourceSize</key>
                <string>{303,317}</string>
            </dict>
            <key>tent01.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1406},{143,151}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{143,151}}</string>
                <key>sourceSize</key>
                <string>{143,165}</string>
            </dict>
            <key>tent02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,1384},{143,151}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{143,151}}</string>
                <key>sourceSize</key>
                <string>{143,165}</string>
            </dict>
            <key>tent03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,311},{135,143}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{135,143}}</string>
                <key>sourceSize</key>
                <string>{143,165}</string>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1111},{276,252}}</string>
                <key>offset</key>
                <string>{-54,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,110},{276,252}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buildings_01.png</string>
            <key>size</key>
            <string>{2022,1618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90521f63f50c914c37846752bde32fb1$</string>
            <key>textureFileName</key>
            <string>buildings_01.png</string>
        </dict>
    </dict>
</plist>
