<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3traffic.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,820},{321,286}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,286}}</string>
                <key>sourceSize</key>
                <string>{321,300}</string>
            </dict>
            <key>4traffic.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,497},{321,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,321}}</string>
                <key>sourceSize</key>
                <string>{321,321}</string>
            </dict>
            <key>road01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{792,252}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{792,252}}</string>
                <key>sourceSize</key>
                <string>{792,300}</string>
            </dict>
            <key>road02.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1108},{289,252}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{289,252}}</string>
                <key>sourceSize</key>
                <string>{289,300}</string>
            </dict>
            <key>road03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{532,532}}</string>
                <key>offset</key>
                <string>{34,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,68},{532,532}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>road04.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,536},{654,332}}</string>
                <key>offset</key>
                <string>{13,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{654,332}}</string>
                <key>sourceSize</key>
                <string>{680,400}</string>
            </dict>
            <key>road05.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{493,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,432}}</string>
                <key>sourceSize</key>
                <string>{493,432}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>roads.png</string>
            <key>size</key>
            <string>{970,1362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2247040083237e4f69692329850be6ac$</string>
            <key>textureFileName</key>
            <string>roads.png</string>
        </dict>
    </dict>
</plist>
