<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>turtle_Walk051.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 19}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 30}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 304}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk052.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 19}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 30}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 0}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk053.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 19}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 30}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk054.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 20}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 608}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk055.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 20}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{588, 0}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk056.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 20}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 304}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk057.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 20}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 304}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk058.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 20}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 608}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk059.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 20}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 912}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk060.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 20}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 912}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk061.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 21}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1176, 0}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk062.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 21}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{784, 0}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk063.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 21}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{980, 1510}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk064.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 21}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{588, 908}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk065.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{784, 1208}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk066.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1372, 0}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk067.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1372, 604}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk068.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{784, 604}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk069.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1176, 906}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk070.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1764, 302}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk071.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{784, 1510}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk072.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{980, 604}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk073.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1764, 604}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk074.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{980, 0}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk075.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1176, 1208}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk076.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1764, 0}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk077.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1568, 0}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk078.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1372, 302}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk079.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1176, 604}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk080.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{588, 606}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk081.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1568, 604}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk082.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1568, 302}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk083.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{980, 906}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk084.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{588, 1512}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk085.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{784, 906}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk086.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{588, 304}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk087.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 21}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{784, 302}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk088.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 21}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1176, 302}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk089.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 21}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{588, 1210}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk090.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 21}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{980, 1208}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk091.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 21}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{980, 302}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk092.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 20}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1520}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk093.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 20}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 1216}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk094.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 20}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 912}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk095.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 20}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 0}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk096.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 20}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1216}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk097.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 20}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 1520}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk098.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 20}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 1520}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk099.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 20}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 608}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Walk100.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 19}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 30}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 1216}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>turtle_Walk2</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>turtle_Walk2</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>