<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>turtle_Open001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{108, 158}, {184, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, -27}</string>
			<key>spriteSize</key>
			<string>{184, 138}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1524, 964}, {184, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{109, 166}, {182, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -31}</string>
			<key>spriteSize</key>
			<string>{182, 130}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 608}, {182, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 172}, {180, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, -35}</string>
			<key>spriteSize</key>
			<string>{180, 126}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 818}, {180, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{111, 176}, {176, 124}}</string>
			<key>spriteOffset</key>
			<string>{-1, -38}</string>
			<key>spriteSize</key>
			<string>{176, 124}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1372, 418}, {176, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{113, 180}, {172, 122}}</string>
			<key>spriteOffset</key>
			<string>{-1, -41}</string>
			<key>spriteSize</key>
			<string>{172, 122}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{950, 600}, {172, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{114, 181}, {168, 124}}</string>
			<key>spriteOffset</key>
			<string>{-2, -43}</string>
			<key>spriteSize</key>
			<string>{168, 124}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{582, 818}, {168, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{116, 178}, {164, 130}}</string>
			<key>spriteOffset</key>
			<string>{-2, -43}</string>
			<key>spriteSize</key>
			<string>{164, 130}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 608}, {164, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{117, 175}, {162, 136}}</string>
			<key>spriteOffset</key>
			<string>{-2, -43}</string>
			<key>spriteSize</key>
			<string>{162, 136}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 606}, {162, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{117, 170}, {162, 144}}</string>
			<key>spriteOffset</key>
			<string>{-2, -42}</string>
			<key>spriteSize</key>
			<string>{162, 144}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 460}, {162, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{117, 159}, {162, 154}}</string>
			<key>spriteOffset</key>
			<string>{-2, -36}</string>
			<key>spriteSize</key>
			<string>{162, 154}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 304}, {162, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{116, 146}, {164, 166}}</string>
			<key>spriteOffset</key>
			<string>{-2, -29}</string>
			<key>spriteSize</key>
			<string>{164, 166}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1340, 966}, {164, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{113, 134}, {170, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, -22}</string>
			<key>spriteSize</key>
			<string>{170, 176}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1568, 208}, {170, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{111, 120}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{-1, -15}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{756, 1854}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 109}, {180, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -8}</string>
			<key>spriteSize</key>
			<string>{180, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1162, 1348}, {180, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 103}, {180, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{180, 200}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 1670}, {180, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 101}, {180, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1526, 1546}, {180, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 101}, {180, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1526, 1746}, {180, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 101}, {180, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1708, 1704}, {180, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 102}, {180, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{180, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1344, 1746}, {180, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 101}, {180, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 1692}, {180, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 101}, {180, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1720, 824}, {180, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 101}, {180, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1344, 1546}, {180, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 101}, {180, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{980, 1548}, {180, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 101}, {180, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{980, 1348}, {180, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 101}, {180, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1708, 1504}, {180, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 101}, {180, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{574, 1680}, {180, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 101}, {180, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{958, 1748}, {180, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 101}, {180, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1140, 1748}, {180, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 101}, {180, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1568, 1104}, {180, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 101}, {180, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1700}, {180, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open031.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 101}, {180, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1568, 1304}, {180, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open032.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 101}, {180, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{776, 1654}, {180, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open033.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 101}, {180, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1720, 624}, {180, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open034.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 101}, {180, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1162, 1548}, {180, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open035.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{111, 101}, {180, 198}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{180, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1746, 412}, {180, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open036.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{112, 102}, {186, 198}}</string>
			<key>spriteOffset</key>
			<string>{5, -1}</string>
			<key>spriteSize</key>
			<string>{186, 198}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{588, 1480}, {186, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open037.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{112, 94}, {198, 204}}</string>
			<key>spriteOffset</key>
			<string>{11, 4}</string>
			<key>spriteSize</key>
			<string>{198, 204}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 740}, {198, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open038.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{114, 91}, {194, 208}}</string>
			<key>spriteOffset</key>
			<string>{11, 5}</string>
			<key>spriteSize</key>
			<string>{194, 208}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{588, 1270}, {194, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open039.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{115, 91}, {184, 208}}</string>
			<key>spriteOffset</key>
			<string>{7, 5}</string>
			<key>spriteSize</key>
			<string>{184, 208}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1372, 0}, {184, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open040.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{115, 91}, {184, 208}}</string>
			<key>spriteOffset</key>
			<string>{7, 5}</string>
			<key>spriteSize</key>
			<string>{184, 208}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1340, 548}, {184, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open041.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{115, 91}, {184, 206}}</string>
			<key>spriteOffset</key>
			<string>{7, 6}</string>
			<key>spriteSize</key>
			<string>{184, 206}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1558, 0}, {184, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open042.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{116, 91}, {182, 206}}</string>
			<key>spriteOffset</key>
			<string>{7, 6}</string>
			<key>spriteSize</key>
			<string>{182, 206}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1340, 758}, {182, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open043.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {194, 204}}</string>
			<key>spriteOffset</key>
			<string>{1, 7}</string>
			<key>spriteSize</key>
			<string>{194, 204}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1372, 1340}, {194, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open044.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {194, 204}}</string>
			<key>spriteOffset</key>
			<string>{1, 7}</string>
			<key>spriteSize</key>
			<string>{194, 204}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1550, 418}, {194, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open045.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {194, 204}}</string>
			<key>spriteOffset</key>
			<string>{1, 7}</string>
			<key>spriteSize</key>
			<string>{194, 204}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1524, 758}, {194, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open046.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {194, 204}}</string>
			<key>spriteOffset</key>
			<string>{1, 7}</string>
			<key>spriteSize</key>
			<string>{194, 204}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1744, 206}, {194, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open047.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {194, 204}}</string>
			<key>spriteOffset</key>
			<string>{1, 7}</string>
			<key>spriteSize</key>
			<string>{194, 204}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{784, 1448}, {194, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open048.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {194, 204}}</string>
			<key>spriteOffset</key>
			<string>{1, 7}</string>
			<key>spriteSize</key>
			<string>{194, 204}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1372, 1134}, {194, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open049.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {194, 204}}</string>
			<key>spriteOffset</key>
			<string>{1, 7}</string>
			<key>spriteSize</key>
			<string>{194, 204}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1744, 0}, {194, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open050.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {194, 206}}</string>
			<key>spriteOffset</key>
			<string>{1, 6}</string>
			<key>spriteSize</key>
			<string>{194, 206}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1372, 210}, {194, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open051.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {194, 208}}</string>
			<key>spriteOffset</key>
			<string>{1, 5}</string>
			<key>spriteSize</key>
			<string>{194, 208}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1176, 1138}, {194, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open052.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {194, 208}}</string>
			<key>spriteOffset</key>
			<string>{1, 5}</string>
			<key>spriteSize</key>
			<string>{194, 208}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 1250}, {194, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open053.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {200, 208}}</string>
			<key>spriteOffset</key>
			<string>{4, 5}</string>
			<key>spriteSize</key>
			<string>{200, 208}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{556, 304}, {200, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open054.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {198, 208}}</string>
			<key>spriteOffset</key>
			<string>{3, 5}</string>
			<key>spriteSize</key>
			<string>{198, 208}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 744}, {198, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open055.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {196, 208}}</string>
			<key>spriteOffset</key>
			<string>{2, 5}</string>
			<key>spriteSize</key>
			<string>{196, 208}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 514}, {196, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open056.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {194, 208}}</string>
			<key>spriteOffset</key>
			<string>{1, 5}</string>
			<key>spriteSize</key>
			<string>{194, 208}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 1482}, {194, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open057.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {194, 208}}</string>
			<key>spriteOffset</key>
			<string>{1, 5}</string>
			<key>spriteSize</key>
			<string>{194, 208}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{784, 1238}, {194, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open058.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {194, 208}}</string>
			<key>spriteOffset</key>
			<string>{1, 5}</string>
			<key>spriteSize</key>
			<string>{194, 208}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 1460}, {194, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open059.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {194, 208}}</string>
			<key>spriteOffset</key>
			<string>{1, 5}</string>
			<key>spriteSize</key>
			<string>{194, 208}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1490}, {194, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open060.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {194, 208}}</string>
			<key>spriteOffset</key>
			<string>{1, 5}</string>
			<key>spriteSize</key>
			<string>{194, 208}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{784, 1028}, {194, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open061.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {194, 208}}</string>
			<key>spriteOffset</key>
			<string>{1, 5}</string>
			<key>spriteSize</key>
			<string>{194, 208}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{758, 304}, {194, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open062.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {194, 208}}</string>
			<key>spriteOffset</key>
			<string>{1, 5}</string>
			<key>spriteSize</key>
			<string>{194, 208}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{980, 1138}, {194, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open063.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {194, 222}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{194, 222}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 1258}, {194, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open064.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 91}, {194, 230}}</string>
			<key>spriteOffset</key>
			<string>{1, -6}</string>
			<key>spriteSize</key>
			<string>{194, 230}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1258}, {194, 230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open065.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 83}, {194, 240}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{194, 240}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1144, 896}, {194, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open066.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 78}, {194, 240}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{194, 240}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{588, 1028}, {194, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open067.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 58}, {194, 260}}</string>
			<key>spriteOffset</key>
			<string>{1, 12}</string>
			<key>spriteSize</key>
			<string>{194, 260}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1176, 286}, {194, 260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open068.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 38}, {194, 284}}</string>
			<key>spriteOffset</key>
			<string>{1, 20}</string>
			<key>spriteSize</key>
			<string>{194, 284}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1176, 0}, {194, 284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open069.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 27}, {194, 294}}</string>
			<key>spriteOffset</key>
			<string>{1, 26}</string>
			<key>spriteSize</key>
			<string>{194, 294}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1144, 600}, {194, 294}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open070.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 25}, {194, 296}}</string>
			<key>spriteOffset</key>
			<string>{1, 27}</string>
			<key>spriteSize</key>
			<string>{194, 296}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{980, 302}, {194, 296}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open071.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 22}, {194, 300}}</string>
			<key>spriteOffset</key>
			<string>{1, 28}</string>
			<key>spriteSize</key>
			<string>{194, 300}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{980, 0}, {194, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open072.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 20}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 0}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open073.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 19}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 30}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 954}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open074.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 19}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 30}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{360, 304}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open075.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 19}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 30}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 304}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open076.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 19}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 30}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{588, 0}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open077.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 19}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 30}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{948, 724}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open078.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 19}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 30}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 946}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open079.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 19}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 30}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 954}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open080.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 19}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 30}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{784, 0}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open081.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 19}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 30}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 724}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open082.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 19}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 30}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 0}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open083.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 19}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 30}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turtle_Open084.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 19}, {194, 302}}</string>
			<key>spriteOffset</key>
			<string>{1, 30}</string>
			<key>spriteSize</key>
			<string>{194, 302}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{556, 514}, {194, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>turtle_Open</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>turtle_Open</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>